@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    background-color: #171717;
    background: url("img/bg.png") no-repeat top center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    scroll-behavior: smooth;
    margin-top: -10px;
    margin-bottom: 30px;
    margin-left: 6.3vw;
    margin-right: 6.3vw;
    color: #e4e4e4;
}

#header{
    position: fixed;
    display: flex;
    padding: 20px;
    padding-top: 30px;
    margin-top: 20px;;
    z-index:1;
    width: 85vw;
}

#header_bg{
    position: fixed;
    margin-left: -50%;
    height:20vh;
    width: 200%;
    z-index: 1;
    background: linear-gradient(180deg, rgba(23,23,23,1) 4%, rgba(23,23,23,0) 100%);
}

#logo{
    font-family: 'Space Mono';
    color: #e4e4e4;
    font-weight: 700;
    font-size: calc(12px + 0.3vw);
}

#social_links{
    display: flex;
    font-family: 'Space Mono', monospace;
    color: #e4e4e4;
    width: 5.2vw;
    font-weight: 700;
    margin-left: auto;
}

#linkedin, #github{
    margin: 0px;
}

#container{
    display: grid;
    width: 85vw;
    padding: 10px;
    margin: 10px;
}

#hero_heading{
    font-family: 'Space Mono';
    color: #e4e4e4;
    font-weight: 700;
    font-size: calc(24px + 5vw);
    word-spacing: -3vw;
    letter-spacing: -0.4vw;
    line-height: 95%;
    margin-top: 25vh;
    width: 70%;
}

#hero_subheading{
    font-family: 'Space Grotesk';
    font-weight: 300;
    margin-top: 8vh;
    width: 45%;
    color: #B3B3B3;
    line-height: 145%;
    font-size: calc(14px + 0.22vw);
    letter-spacing: -0.06vw;
}

#skillset{
    display:grid;
    text-align: center;
    width: 50vw;
    margin-top: 13vh;
    margin-left: auto;
    margin-right: auto;
}

.section_heading{
    font-family: 'Space Mono';
    color: #e4e4e4;
    font-weight: 700;
    font-size: calc(18px + 2vw);
    margin-top: 10px;
    margin-bottom: 20px;
    z-index: 3;
}

.section_subheading{
    font-family: 'Space Grotesk';
    color: #b1b1b1;
    font-weight: 400;
    font-size: calc(16px + 0.5vw);
    line-height: 180%;
}

#technologies{
    margin-top: 12vh;
    text-align: center;
}

#tech_flexbox{
    margin-left: auto;
    margin-right: auto;
    display: flexbox;
    width: 70vw;
    margin-top: 5vh;
}

.tech_logo{
    padding: 10px;
    width: 8vw;
    margin: 20px;
}

#projects{
    text-align: center;
    margin-top: 12vh;
}


.project_section{
    position: relative;
    display: block;
    border: 1px solid #b3b3b3;
    border-radius: 25px;
    min-height: 50vh;
    margin-top: 30px;
    text-align: left;
    padding-left: calc(20px + 2vw);
    padding-top: 4vh;
    padding-bottom: 3vh;
    padding-right: calc(30px + 20vw);
    word-wrap: break-word;
    background: linear-gradient(90deg, rgba(23,23,23,1) 20%, rgba(23,23,23,0.5971638655462185) 80%, rgba(23,23,23,0.20780812324929976) 100%);
    
}

.tags{
    display: in4;
    width: inherit;
    box-sizing: border-box;
    z-index: 3;
}

.main_tag{
    font-family: 'Space Grotesk';
    color: #171717;
    font-weight: 800;
    font-size: calc(12px + 0.1vw);
    line-height: 180%;
    background-color: #838383;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    border-radius: 6px;
    margin-right: 10px;
}

.other_tag{
    font-family: 'Space Grotesk';
    color: #b1b1b1;
    font-weight: 800;
    font-size: calc(12px + 0.1vw);
    line-height: 180%;
    background-color: #2d2d2d;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    border-radius: 6px;
    margin-right: 10px;
}

.description{
    font-family: 'Space Grotesk';
    color: #e4e4e4;
    font-weight: 300;
    font-size: calc(18px + 0.1vw);
    margin-top: 30px;
    line-height: (20px + 0.1vw);
    height: 50%;
    overflow-y: visible;
    box-sizing: border-box;
    z-index: 3;
}

.buttons{
    position: relative;
    margin-top: 5%;
    margin-bottom: 3vh;
    box-sizing: border-box;
    z-index: 3;
}

.button_project{
    position: relative;
    box-sizing: border-box;
    width: 150px;
    height: 50px;
    border-radius: 100px;
    background-color: #17171700;
    border: 1px solid #b1b1b1;
    color: #b1b1b1;
    font-family: 'Space Grotesk';
    color: #e4e4e4;
    font-weight: 300;
    font-size: calc(18px + 0.1vw);
    margin-top: 10px;
}

.project_img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    border-radius: 25px;
    min-height: 50vh;
    filter: grayscale();
    z-index: 1;
}

.grain_img{
    background: url("img/grainy.png") right center;
    background-size: cover;
    border-radius: 25px;
    min-height: 30vh;
    z-index: 2;
}

#contact{
    text-align: center;
    display: block;
    margin-top: 20vh;
}

#contact_links{
    
    display: flex;
}

#footer{
    margin-top: 20vh;
    display: block;
    border: 1px solid white;
    min-height: 50vh;
}