@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    background-color: #171717;
    margin: 0px;
    color: #e4e4e4;
}

#bg{
    background: url("img/bggrain.png") top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    scroll-behavior: smooth;
}

#container{
    margin-top: -10px;
    margin-left: 6.3vw;
    margin-right: 6.3vw;
    margin-bottom: -10vh;
}

.blob {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 700px;
    border-radius: 100%;
    background-image: radial-gradient(#6c6c6c 10%, #171717);
    filter: blur(100px);
    transition: all 450ms ease-out;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(calc(-50% + 15px), -50%);
    z-index: -1;
}

#header{
    position: fixed;
    display: flex;
    padding: 20px;
    padding-top: 30px;
    margin-top: 20px;;
    z-index:1;
    width: 85vw;
}

#header_bg{
    position: fixed;
    margin-left: -50%;
    height:20vh;
    width: 200%;
    z-index: 1;
    background: linear-gradient(180deg, rgba(23,23,23,1) 4%, rgba(23,23,23,0) 100%);
}

#logo{
    font-family: 'Space Mono';
    color: #e4e4e4;
    font-weight: 700;
    font-size: calc(12px + 0.3vw);
}

#social_links{
    position: sticky;
    display: flex;
    font-family: 'Space Mono', monospace;
    color: #e4e4e4;
    width: 5.2vw;
    font-weight: 700;
    margin-right: 4%;
    margin-left: auto;
    justify-content: right;
}

.icon{
    height: 3vh;
    filter: brightness(0) saturate(100%) invert(99%) sepia(2%) saturate(408%) hue-rotate(212deg) brightness(113%) contrast(100%);
}

.icon:hover{
    filter: none;
}


#linkedin, #github{
    margin: 0px;
}

#hero_container{
    display: block;
    width: 85vw;
    padding: 10px;
    margin: 10px;
}

#fixed_heading{
    height: 43vh;
    margin-top: 25vh;
    max-width: min(890px, 100%);
}
#hero_heading{
    font-family: 'Space Mono';
    color: #e4e4e4;
    font-weight: 700;
    font-size: calc(24px + 5vw);
    word-spacing: -2vw;
    letter-spacing: -0.4vw;
    line-height: 95%;
    margin-right: 10vh;

}

#hero_subheading{
    font-family: 'Space Grotesk';
    font-weight: 300;
    margin-top: 8vh;
    margin-right: 10vw;
    max-width: min(650px, 100%);
    color: #B3B3B3;
    line-height: 145%;
    font-size: calc(14px + 0.22vw);
    letter-spacing: -0.06vw;
}

#skillset{
    display:grid;
    text-align: center;
    width: 50vw;
    margin-top: 13vh;
    margin-left: auto;
    margin-right: auto;
}

.section_heading{
    font-family: 'Space Mono';
    color: #e4e4e4;
    font-weight: 700;
    font-size: calc(18px + 2vw);
    margin-top: 10px;
    margin-bottom: 20px;
    z-index: 3;
}

.section_subheading{
    font-family: 'Space Grotesk';
    color: #b1b1b1;
    font-weight: 400;
    font-size: calc(16px + 0.5vw);
    line-height: 180%;
}

#technologies{
    margin-top: 12vh;
    text-align: center;
}

#tech_flexbox{
    margin-left: auto;
    margin-right: auto;
    display: flexbox;
    width: 70vw;
    margin-top: 5vh;
}

.tech_logo{
    padding: 2vh;
    width: calc(24px + 7vw);
    margin: 2vh;
    filter: brightness(0) saturate(100%) invert(38%) sepia(0%) saturate(0%) hue-rotate(326deg) brightness(97%) contrast(88%);
    transition: 0.3s ease-in;
}

.tech_logo:hover{
    filter: none;
    transition: 0.3s ease-out;
}


#projects{
    text-align: center;
    margin-top: 12vh;
}


.project_section{
    position: relative;
    display: block;
    border: 1px solid #b3b3b3;
    border-radius: 25px;
    min-height: 50vh;
    margin-top: 30px;
    text-align: left;
    padding-left: calc(20px + 2vw);
    padding-top: 4vh;
    padding-bottom: 3vh;
    padding-right: calc(30px + 20vw);
    word-wrap: break-word;
    background: linear-gradient(90deg, rgba(23,23,23,1) 20%, rgba(23,23,23,0.5971638655462185) 80%, rgba(23,23,23,0.20780812324929976) 100%);
    transition: 0.3s ease-in-out;
    
}

.tags{
    display: in4;
    width: inherit;
    box-sizing: border-box;
    z-index: 3;
}

.main_tag{
    font-family: 'Space Grotesk';
    color: #171717;
    font-weight: 800;
    font-size: calc(8px + 0.2vw);
    line-height: 180%;
    background-color: #838383;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 6px;
    margin-right: 0.2vw;
    white-space: nowrap;
}

.other_tag{
    font-family: 'Space Grotesk';
    color: #b1b1b1;
    font-weight: 800;
    font-size: calc(8px + 0.2vw);
    line-height: 180%;
    background-color: #2d2d2d;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 6px;
    margin-right: 0.2vw;
    white-space: nowrap;
}

.description{
    font-family: 'Space Grotesk';
    font-weight: 300;
    font-size: calc(14px + 0.2vw);
    line-height: (20px + 0.1vw);
    height: 50%;
    overflow-y: scroll;
    box-sizing: border-box;
    z-index: 3;
    max-height: 40vh;
    padding-top: 30px;
    padding-bottom: 30px;
}

.description::-webkit-scrollbar {
    display: none;
  }
  
.description {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    mask-image: linear-gradient(to bottom, transparent 0%, black 30px, black calc(100% - 30px), transparent 100%);
  }

.buttons{
    position: relative;
    margin-top: 5%;
    margin-bottom: 3vh;
    box-sizing: border-box;
    z-index: 3;
}

.button_project{
    position: relative;
    background-color: #17171700;
    font-size: calc(18px + 0.1vw);
    border: 1px solid #b1b1b1;
    border-radius: 100px;
    box-sizing: border-box;
    cursor: pointer;
    width: 150px;
    outline: none;
    overflow: hidden;
    height: 50px;
    color: #b1b1b1;
    font-family: 'Space Grotesk';
    font-weight: 300;
    margin-top: 10px;
    text-shadow: 0 0 5em rgba(0,0,0,100);
    transition: 0.3s ease-in-out;
}

.button_project:hover{
    background-color: #b1b1b1;
    font-weight: 500;
    color: #171717;
}


.project_img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    color: #e4e4e4;
    border-radius: 25px;
    min-height: 50vh;
    filter: grayscale();
    z-index: 1;
    transition: 0.3s ease-in-out;
}

.project_img:hover{
    filter: none;
    transform: scale(1.01);
}

.grain_img{
    background: url("img/grainy.png") right center;
    background-size: cover;
    border-radius: 25px;
    min-height: 30vh;
    z-index: 2;
}

#contact{
    text-align: center;
    display: block;
    margin-top: 20vh;
}

#contact_links{
    display: flexbox;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.con_icon{
    margin-top: 7vh;
    height: 5vh;
    margin-right: 1.5vw;
    margin-left: 1.5vw;
    filter: brightness(0) saturate(100%) invert(99%) sepia(2%) saturate(408%) hue-rotate(212deg) brightness(113%) contrast(100%);
}

.con_icon:hover{
    filter: none;
}

#footer{
    display: block;
    padding-bottom: 5vh;
    font-size: calc(14px + 0.2vw);
    margin-top: 30vh;
    margin-bottom: 5vh;
}

#footnotes{
    font-family: 'Space Grotesk';
    font-weight: 300;
    color: #B3B3B3;
    float: left;
    
    
}

#update{
    font-family: 'Space Grotesk';
    font-weight: 300;
    color: #B3B3B3;
    margin-right: auto;
    float: right;
}
